body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-container {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 36px;
  border-radius: 20px;
}

img {
  height: 3rem;
  width: 3rem;
  padding: 5px;
}

.number {
  padding: 5px;
  margin: 6px;
}

.counter-container div {
  box-sizing: border-box;
  background-color: rgb(26, 25, 25);
  border: 2px solid rgb(39, 37, 37);
  border-radius: 10px;
}

.input-btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px; /* Ajusta el espacio entre el contador y los botones */
}

input {
  padding: 10px;
  margin-bottom: 10px; /* Ajusta el espacio entre el input y los botones */
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
